<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Actualizar Producto</title>
</head>
<body>
<div th:fragment="Actualizar_Producto_html">

		<div class="modal fade mt-5" id="exampleModalActualizarOC" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      <div class="modal-header text-white shadow-sm" style="background-image: radial-gradient(circle at 90.52% 50%, #65696f 0, #0b2840 50%, #000018 100%);">
			        <h5 class="modal-title" id="exampleModalLabel">Actualizar Producto</h5>
			        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      <div class="row">
			      <div class=" col-md-12">
			      		<form class="row shadow-sm g-3 mt-0 needs-validation align-items-center d-flex justify-content-between me-2 ms-2" novalidate style="background-image: radial-gradient(circle at 73.6% 36.37%, #fffbfb 0, #fef6f6 25%, #f4f0f0 50%, #eaeaea 75%, #e0e5e4 100%);">
			      			 <!-- <div class="col-md-12">
				      				<div class="col-md-12 text-center p-3 lh-sm border border-warning">
										<h2>Orden de Compra</h2>
										<div class="row">
											<div class="mb-2 row g-2 d-flex justify-content-center mr-3">
												<div class="col-auto">
												<label for="form-control" class="col-form-label fw-bolder">NRO:</label>
												</div>
												 <div class="col-auto">
												 <input type="text" id="numeroOrden" name="numeroOrden"
												 class="form-control text-primary fw-bold text-center"
												 aria-describedby="passwordHelpInline" readonly="readonly">
												 </div>
											 </div>
										 </div>
								     </div>
			      			 </div>	-->
							<div class="col-md-5">
							    <label for="validationCustom02" class="form-label">Código</label>
							    <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
							    <div class="valid-feedback">
							      Looks good!
							    </div>
							  </div>
							   <div class="col-md-5">
							    <label for="validationCustom04" class="form-label">Tipo Producto</label>
							    <select class="form-select" id="validationCustom04" required>
							      <option selected disabled value="">Choose...</option>
							      <option>...</option>
							    </select>
							    <div class="invalid-feedback">
							      Please select a valid state.
							    </div>
							  </div>
							  
							  <div class="col-md-5">
							    <label for="validationCustom02" class="form-label">Codigo Bar</label>
							    <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
							    <div class="valid-feedback">
							      Looks good!
							    </div>
							  </div>
							  <div class="col-md-5">
							    <label for="validationCustom02" class="form-label">Descripción</label>
							    <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
							    <div class="valid-feedback">
							      Looks good!
							    </div>
							  </div>
							   <div class="col-md-5">
							    <label for="validationCustom01" class="form-label">Marca</label>
							    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
							    <div class="valid-feedback">
							      Looks good!
							    </div>
							  </div>
					
								 <div class="col-md-5">
							    <label for="validationCustom01" class="form-label">Stock</label>
							    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
							    <div class="valid-feedback">
							      Looks good!
							    </div>
							  </div>
					
							  <div class="col-md-5">
							    <label for="validationCustom04" class="form-label">Estado Producto</label>
							    <select class="form-select" id="validationCustom04" required>
							      <option selected disabled value="">Choose...</option>
							      <option>...</option>
							    </select>
							    <div class="invalid-feedback">
							      Please select a valid state.
							    </div>
							  </div>
						
						 <div class="col-12">
							    	<div class="col-md-12 text-center mt-4 mb-3"> 										
									<button type="submit" id="Guardar" class="btn btn-primary me-2 btn-registrar"><i class="fas fa-save"></i> Actualizar</button>
									<button type="button" id="Cancelar" class="btn btn-danger ms-2 cancelar" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Cancelar</button>
							         </div> 
							  </div> 
					 </form>
			      </div>
			      </div>    		
			    </div>
				</div>
				</div>
		</div>
</div>

</body>
</html>