<!DOCTYPE html>
<html>
<head th:replace="style :: head_html"></head>
<body>
<footer th:fragment="footer_html" class="text-center text-white  h-auto navbar-dark fondonavsup">
    <br>
    <div class="container p-1">

        <div class="row fs-15">
            <div class="col-lg-3 mb-6 mb-lg-0">
                <h7 class="text-uppercase fw-bolder">UBICACIÓN</h7>
                <p>
                    Av. Javier Prado 1502, <br> San Isidro - Lima
                </p>
            </div>
            <div class="col-lg-6 mb-12 mb-lg-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <h6>Sistema de Control de Almacén - 2022</h6>

                    <a class="btn btn-outline-light btn-social mx-1"
                       href="https://es-la.facebook.com/"><i
                            class="fab fa-fw fa-facebook-f"></i></a> <a
                        class="btn btn-outline-light btn-social mx-1"
                        href="https://twitter.com/"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1"
                       href="https://www.youtube.com/"><i
                            class="fab fa-fw fa-youtube"></i></a>
                </section>
            </div>
            <!--Grid column-->
            <div class="col-lg-3 mb-3 mb-lg-0">
                <h7 class="text-uppercase fw-bolder">CONTACTO</h7>
                <p>
                    Central Telefónica: <br> 625-5556<br> Línea Gratuita:<br>
                    0-800-00-208
                </p>
            </div>

            <div class="text-center p-2"> © Derechos
                Reservados
            </div>
        </div>

    </div>

</footer>
</body>
</html>