<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/customcss/index.css">
</head>
<body>

<nav class="nav" th:fragment="menu_html">
    <div class="container__info">
        <div class="img__user_container">
            <img class="img__user" src="/img/carnet.jpg" alt="logo">
        </div>
        <div class="user__container_text">
            <h3 class="h3__name_info">Josefina Humala</h3>
            <h4 class="h4__name_info">Administradora</h4>
        </div>
    </div>

    <ul class="list">
        <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <img src="/assets/consulta.svg" class="list__img">
                <a class="nav__link">Mantenimiento</a>
                <img src="/assets/arrow.svg" class="list__arrow">
            </div>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/ordenCompra/cargarTodos}" class="nav__link nav__link--inside">Orden Compra</a>
                </li>
                <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">*****</a>
                </li>
            </ul>
        </li>
        <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <img src="/assets/consulta.svg" class="list__img">
                <a class="nav__link">Reportes</a>
                <img src="/assets/arrow.svg" class="list__arrow">
            </div>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/inventario/reportes}" class="nav__link nav__link--inside">Inventario</a>
                </li>
                <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">*****</a>
                </li>

                <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">*****</a>
                </li>
            </ul>
        </li>
        <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <img src="/assets/consulta.svg" class="list__img">
                <a  class="nav__link">Transacciones</a>
                <img src="/assets/arrow.svg" class="list__arrow">
            </div>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/inventario/orden/genera}"  class="nav__link nav__link--inside">Inventario</a>
                </li>
                <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">*****</a>
                </li>
            </ul>
        </li>
        <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <img src="/assets/consulta.svg" class="list__img">
                <a class="nav__link">Consultas</a>
                <img src="/assets/arrow.svg" class="list__arrow">
            </div>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/consulta/producto}" class="nav__link nav__link--inside">Producto</a>
                </li>
                <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">*****</a>
                </li>
            </ul>
        </li>

        <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <img src="/assets/consulta.svg" class="list__img">
                <a class="nav__link">Configuración</a>
                <img src="/assets/arrow.svg" class="list__arrow">
            </div>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/configuracion/roles}" class="nav__link nav__link--inside">Rol</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

</body>
</html>