<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="style :: head_html"></head>
<body>

<div th:fragment="menu_html" class="bg-dark m-auto vh-100">

    <div class="card m-auto bg-dark text-white">

        <picture class="bg-dark text-center m-auto" style="width: 100%;">
            <img src="/img/perfil.png" class="img-fluid rounded-circle mt-2" alt="..." style="width: 50%;">
        </picture>


        <div class="card-body text-center bg-dark text-white">
            <h5 class="card-title">DANIEL HUMALA</h5>
            <h6 class="card-text">Administrador</h6>
        </div>


        <div class="offcanvas-body">

            <ul th:each="M : ${listadoMenu}" class="navbar-nav flex-grow-1 pe-3 navbar-brand text-start">


                <li class="nav-item"><a
                        class="nav-link dropdown-toggle d-block text-white" href="#"
                        id="offcanvasNavbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i th:class="${M.icono}"></i><span th:text="${M.descripcion}"/></a>

                    <ul th:each="SUBM : ${listadoSubMenu}" th:if="${SUBM.idMenu}==${M.id}"
                        class="dropdown-menu dropdown-menu-dark fondonavbody ms-5"
                        aria-labelledby="offcanvasNavbarDropdown">

                        <li><a class="dropdown-item" th:href="${SUBM.url_acceso}" th:text="${SUBM.nombre}"></a></li>

                    </ul>
                </li>

            </ul>
        </div>

    </div>
</div>

</body>
</html>