<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="componentes/style :: head_html">
    <meta charset="UTF-8">
    <title>Consulta de Inventario</title>
</head>
<body>
<div class="container-fluid">
    <nav th:replace="componentes/header :: Nav"></nav>
    <div class="row m-2 text-center">

        <div class="col-2 vh-auto" style="background-color:  #E0FFFF;">
            <div th:replace="componentes/menu :: menu_html"></div>
        </div>
        <!-- Criterios de Búsqueda -->
        <div class="col-10">

            <h1 style="padding-top:15px;padding-bottom:15px">Consulta de Inventario por Estado</h1>

            <div class="partOne" style="background-color:white;padding: 20px; margin-top: 13px;
			box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
                <form class="row g-3" action="/buscarPorTipoInventario" th:object="${inve}" method="get">
                    <div class="col-auto" style="padding-top: 11px">
                        <label for="exampleInputPassword1">Consultar por:</label>

                    </div>
                    <div class="col-auto" style="padding-top: 8px">
                        <input type="text" th:field="*{estado}" class="form-control" id="inputPassword2"
                               placeholder="Ingrese tipo de inventario">

                    </div>
                    <div class="col-auto" style="padding-top: 8px">

                        <button type="submit" class="btn btn-secondary mb-3" id="btn-consultar">Consultar</button>
                    </div>
                </form>
            </div>


            <!-- Seccion listado -->
            <div class="partTwo" style="background-color:white;padding: 20px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;margin-top: 60px">
                <div class="col col-sm-12 mt-4 table-responsive">

                    <table id="mexample" class="table table-striped" style="width:100%">
                        <thead>
                        <tr class="table-primary">
                            <th>Código</th>
                            <th>Tipo</th>
                            <th>Almacen</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Empleado</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="in : ${inventarioEstado}">
                            <td th:text="${in.id}"></td>
                            <td th:text="${in.objTipoInve.nombre}"></td>
                            <td th:text="${in.objAlmacen.direccion}"></td>
                            <td th:text="${in.objProducto.descripcion}"></td>
                            <td th:text="${in.cantidad}"></td>
                            <td th:text="${in.descripcion}"></td>
                            <td th:text="${in.estado}"></td>
                            <td th:text="${in.objEmpleado.nombre + in.objEmpleado.apellido}"></td>


                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer -->
    <div th:replace="componentes/footer :: footer_html"></div>

</div>

<script th:replace="componentes/script :: scripts_html"></script>


</body>
</html>