<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="componentes/style :: head_html">
    <meta charset="UTF-8">
    <title>Consulta de Inventario</title>
</head>
<link rel="stylesheet" href="/customcss/index.css">
<body>

    <nav th:replace="componentes/header :: Nav"></nav>
    <div class="container__all">

        <div th:replace="componentes/menu :: menu_html"></div>
        <!-- Criterios de Búsqueda -->
        <div class="container__section">

            <h1 style="padding-top:15px;padding-bottom:15px">Consulta de Inventario </h1>

            <div class="partOne" style="background-color:white;padding: 20px; margin-top: 13px;
			box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
               <form class="col-auto mx-3" th:action="@{'/inventario/consulta/empleadoInve/0'}" method="get">
                    <div class="col-auto " style="padding-top: 11px">
                        <label >Apellido del Empleado: </label>

                    </div>
                    <div class="col-auto" style="padding-top: 8px">
                        <input class="form-control" type="text" name="apellido">

                    </div>


                    <div class="col-auto" style="padding-top: 8px">

                        <button type="submit" class="btn btn-secondary mb-3" id="btn-filtrar-entrega">Consultar</button>
                    </div>
                </form>
                
                
                 <form class="col-auto mx-3" th:action="@{'/inventario/consulta/ordenInve/0'}" method="get">
                    <div class="col-auto " style="padding-top: 11px">
                        <label >Orden de Compra: </label>

                    </div>
                    <div class="col-auto" style="padding-top: 8px">
                        <input class="form-control" type="text" name="NOrdenCompra">

                    </div>


                    <div class="col-auto" style="padding-top: 8px">

                        <button type="submit" class="btn btn-secondary mb-3" id="btn-filtrar-entrega">Consultar</button>
                    </div>
                </form>
                
                
                 <form class="col-auto mx-3" th:action="@{'/inventario/consulta/tipoInve/0'}" method="get">
                    <div class="col-auto " style="padding-top: 11px">
                        <label >Tipo de Inventario: </label>

                    </div>
                    <div class="col-auto" style="padding-top: 8px">
                        <input class="form-control" type="text" name="nombre">

                    </div>


                    <div class="col-auto" style="padding-top: 8px">

                        <button type="submit" class="btn btn-secondary mb-3" id="btn-filtrar-entrega">Consultar</button>
                    </div>
                </form>
                
                
                 <form class="col-auto mx-3" th:action="@{'/inventario/consulta/almacenInve/0'}" method="get">
                    <div class="col-auto " style="padding-top: 11px">
                        <label >Dirección del almacen: </label>

                    </div>
                    <div class="col-auto" style="padding-top: 8px">
                        <input class="form-control" type="text" name="direccion">

                    </div>


                    <div class="col-auto" style="padding-top: 8px">

                        <button type="submit" class="btn btn-secondary mb-3" id="btn-filtrar-entrega">Consultar</button>
                    </div>
                </form>
            </div>


            <!-- Seccion listado -->
            <div class="partTwo" style="background-color:white;padding: 20px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;margin-top: 60px">
                <div class="col col-sm-12 mt-4 table-responsive">

                    <table id="mexample" class="table table-striped" style="width:100%">
                        <thead>
                        <tr class="table-primary">
                            <th>Código</th>
                            <th>Tipo Inventario</th>
                            <th>Almacen</th>
                 
                            <th>Empleado</th>
                            <th>N° Orden</th>
                		       <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="in : ${listInventarios}">
                            <td th:text="${in.id}"></td>
                            <td th:text="${in.objTipoInve.nombre}"></td>
                            <td th:text="${in.objAlmacen.direccion}"></td>
                            <td th:text="${in.objEmpleado.apellido}"></td>
                            <td th:text="${in.objOrdenCompra.NOrdenCompra}"></td>
							 <td class="px-0 text-center">
                           <a th:href="@{/inventario/detalleConsuInve/}+${in.id}" class="btn btn-outline-success btn-verDetalle text-center px-2 py-0">
                     
                                <i class="fas fa-binoculars"></i>
								</a>
	                          
                          
                   			     </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer -->



<script th:replace="componentes/script :: scripts_html"></script>


</body>
</html>