<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="componentes/style :: head_html"></head>
<title>Home</title>
<link rel="stylesheet" href="/customcss/index.css">
<body>

<!-- HEADER FRAGMENT -->
<nav th:replace="componentes/header :: Nav">
    <!--    <section class="nav-container">
            <img class="logo" src="/img/logo.png">
            <div class="user-container">
                <h3 class="h3__name_nav">Josefina Humala</h3>
                <h4 class="h4__name_nav">Administradora</h4>
            </div>
        </section>-->
</nav>

<!-- HEADER FRAGMENT -->
<div class="container__all">
    <!-- NAV FRAGMENT -->

    <nav th:replace="componentes/menu :: menu_html"></nav>

    <section class="container__section" style="padding: 0;">
        <div class="imagen-home" style="background-image: url(/img/imagen_home.jpg);
    background-position: center center;
    background-size: cover;
    flex: 0 0 calc(60%); height: 100%;">

            <div class="contenedor"
                 style="margin: 0 auto;height: 100%; max-width: 1200px; width: 100%; background-position: center center;background-size: cover;font-size: 30px;padding: 50px;display: flex;align-items: center;">
                <h1 style="background-color: rgba(128, 128, 128,30%);border-radius: 10px;color: white;position: center;padding: 50px;text-align: center;">¿QUIENES SOMOS? <br> Somos un grupo de programadores, hemos desarrollado un sistema para
                    gestionar tanto a los
                    trabajadores, además de la gestion de inventario y ordende compra de los productos
                    electronicos. Otorgamos un buen soporte y calidad de la aplicación.</h1>
            </div>

        </div>


    </section>

    <div th:replace="componentes/script :: scripts_html"></div>
</div>


</body>
</html>