<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title> Orden de Compra</title>
<head th:replace="componentes/style :: head_html"></head>

<body>


<div class="container-fluid">
    <nav th:replace="componentes/header :: Nav"></nav>

    <div class="row m-2 text-center">

        <div class="col-2 vh-auto" style="background-color:  #E0FFFF;">
            <div th:replace="componentes/menu :: menu_html"></div>
        </div>


        <div class="col-10" style="background-color:  #F8F8FF;">
            <div class="mt-5 p-5 d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-dark btn-generaFichaDevol btn-roud" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Generar Orden de Compra
                </button>
            </div>

            <div class="col col-sm-12 mt-4 table-responsive">
                <table id="tbexample" class="table table-striped mb-2" style="width: 100%; font-size: 10px">
                    <thead class="table-dark">
                    <tr class="table-primary">
                        <th>NRO_OC</th>
                        <th>PROVEEDOR</th>
                        <th>FECHA_COMP</th>
                        <th>FECHA_ENTREG</th>
                        <th>COND_PAGO</th>
                        <th>TRANSPORTE</th>
                        <th>IMP_TOTAL</th>
                        <th>ESTADO</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row : ${lsOrdencompra}" class="align-middle shadow-lg p-3 mb-5 bg-body rounded"
                        style="font-size: 10px">
                        <td th:text="${row.NOrdenCompra}"></td>
                        <td th:text="${row.objProveedor.nombre}"></td>
                        <td th:text="${row.fechaOrdenCompra}"></td>
                        <td th:text="${row.fechaentrega}"></td>
                        <td th:text="${row.condicionesPago}"></td>
                        <td th:text="${row.transporte}"></td>
                        <td th:text="${row.valorTotal}"></td>
                        <td th:text="${row.estado}"></td>

                        <td class="px-0 text-center">
                            <button type="button" class="btn btn-outline-dark btn-editar  text-center px-2 py-0"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-edit"></i></button>
                        </td>
                        <td class="px-0 text-center">
                            <button type="button" class="btn btn-outline-success btn-verDetalle text-center px-2 py-0"
                                    data-bs-toggle="modal" data-bs-target="#modalVerDetalleDevolucion">
                                <i class="fas fa-binoculars"></i></button>
                        </td>
                        <td class="px-0 text-center">
                            <button type="button"
                                    class="btn btn-outline-danger btn-eliminar-Devolucion text-center px-2 py-0"
                                    data-bs-toggle="modal" data-bs-target="#modalElimimar">
                                <i class="fas fa-backspace"></i></button>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>


            <!-- Modal  para ver detalle de Orden Compra-->

            <div class="modal fade" id="modalVerDetalleDevolucion" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Detalle de Orden de Compra</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row mx-3 my-1">

                                <div class="row mx-3 my-3">
                                    <div class="col-md-6 text-center p-2 lh-sm">
                                        <br>
                                        <h5 class="fw-bolder">RUC:20401381291</h5>
                                        <p>Av Javier Prado. 5 S/N, Lima,Perú</p>
                                        <p>Telf: 990990218 - 989435299</p>
                                    </div>
                                    <div class="col-md-3 text-center p-2 lh-sm border">

                                        <h6>Orden de Compra</h6>
                                        <div class="row">
                                            <div class="mb-2 row g-2 d-flex justify-content-center mr-3">
                                                <div class="col-auto">
                                                    <label for="inputPassword6"
                                                           class="col-form-label fw-bolder">NRO:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input type="text" id="idnumeroFichadevol" name="numerodevol"
                                                           class="form-control text-primary fw-bold text-center"
                                                           aria-describedby="passwordHelpInline" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2"></div>
                            </div>


                            <div class="row mt-1">
                                <h5 class="text-success">Datos del Detalle</h5>
                                <div class="col-md-6 col-12">
                                    <div class="row my-1">
                                        <label for="mpDepartamento" class="col-6 col-form-label">Total de OC</label>
                                        <div class="col-6">
                                            <input type="text" id="idtotalCreditoAdeudonuevo"
                                                   name="totalCreditoAdeudonuevo"
                                                   class="form-control text-danger fw-bold" value="0"
                                                   readonly="readonly">
                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-12 col-sm-12 mt-4 table-responsive">
                                    <table id="tableDetalleDevolucion" class="table table-striped table-sm"
                                           style="width: 100%; font-size: 10px">
                                        <thead class="table-dark">
                                        <tr class="table-success">

                                            <th>NRO_OC</th>
                                            <th>PROVEEDOR</th>
                                            <th>FECHA_COMP</th>
                                            <th>FECHA_ENTREG</th>
                                            <th>COND_PAGO</th>
                                            <th>TRANSPORTE</th>
                                            <th>IMP_TOTAL</th>
                                            <th>ESTADO</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal para Eliminar OC-->
            <div class="modal fade" id="modalElimimar" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h7 class="modal-title" id="exampleModalLabel">Sistema</h7>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="idEliminar" method="post"
                                  action="ServletDevolucionBien?tipo=ELIMINARDEVOLUCION">
                                <input type="hidden" class="form-control" name="codigoEliminar"
                                       id="codigoEliminar">
                                <h6>¿Seguro de eliminar?</h6>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">SI</button>
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">NO
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- Footer -->
    <div th:replace="componentes/footer :: footer_html"></div>
</div>


<!-- Scripts -->
<div th:replace="componentes/script :: scripts_html"></div>


</body>

</html>