<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="componentes/style :: head_html">

</head>
<link th:href="@{/customcss/estilos.css}" rel="stylesheet">
<body>
<div class="container-fluid">


    <div class="col-10 d-flex orden-main" style="background-color: #f8f8ff">
        <!--////////////////////////////////////////////////////////////////////////////-->
        <div class="modal fade" id="modal_preview" role="dialog"
             style="color: black" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 700px;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" style="width: 30px;" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-holder">
                                    <div class="form-content">
                                        <div class="form-items container_preview">
                                            <div class="subcontainer_preview">
                                                <h3 class="text-center">Vista Previa</h3>
                                                <div class="form-button mt-3 text-center">
                                                    <button id="submit" type="submit"
                                                            class="btn btn-vercompleto">
                                                        Ver Completo
                                                    </button>
                                                </div>
                                                <div class="col-12 form-element container_informe">
                                                    <div class="subcontainer_informe">
                                                        <img src="/img/informe.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
<div th:replace="componentes/script :: scripts_html"></div>
<script>
    $(document).ready(function () {
        $('#modal_preview').modal('show');

        $('#modal_preview').on('hidden.bs.modal', function () {
            window.location.href = '/inventario/orden/genera'
        });
    });


</script>
</body>
</html>