<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:replace="componentes/style :: head_html"></head>
    <link rel="stylesheet" href="/customcss/index.css">
</head>
<body>

<nav th:replace="componentes/header :: Nav"></nav>

<div class="container__all">

    <div th:replace="componentes/menu :: menu_html"></div>

    <section class="container__section">
        <h1 style="padding-top:15px;padding-bottom:15px;text-align: center">Reportes de órdenes de compra</h1>
        <div class="partOne" style="background-color:white;padding: 20px; margin-top: 13px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">

            <div class="row g-3">
                <form class="col-auto mx-3" th:action="@{'/ordencompra/reporte/fechaemision/0'}" method="get">
                    <div class="col-auto" style="padding-top: 11px">
                        <label >Filtrar por fecha de emisión: </label>

                    </div>
                    <div class="col-auto" style="padding-top: 8px">
                        <input class="form-control" type="date" name="fechaem">
                    </div>


                    <div class="col-auto" style="padding-top: 8px">

                        <button type="submit" class="btn btn-secondary mb-3" id="btn-filtrar-emision">Filtrar</button>
                    </div>
                </form>
                <form class="col-auto mx-3" th:action="@{'/ordencompra/reporte/fechaentrega/0'}" method="get">
                    <div class="col-auto " style="padding-top: 11px">
                        <label >Filtrar por fecha de entrega: </label>

                    </div>
                    <div class="col-auto" style="padding-top: 8px">
                        <input class="form-control" type="date" name="fecha">

                    </div>


                    <div class="col-auto" style="padding-top: 8px">

                        <button type="submit" class="btn btn-secondary mb-3" id="btn-filtrar-entrega">Filtrar</button>
                    </div>
                </form>
                <form class="col-auto mx-3" method="get">
                    <div class="col-auto " style="padding-top: 11px">
                        <label >Filtrar por órdenes emitidas hace: </label>

                    </div>
                    <div class="col-auto" style="padding-top: 8px">
                        <select name="" class="form-control">
                            <option value="1">1 día</option>
                            <option value="2">7 días</option>
                            <option value="3">15 días</option>
                            <option value="3">1 mes</option>
                        </select>

                    </div>


                    <div class="col-auto" style="padding-top: 8px">

                        <button type="submit" class="btn btn-secondary mb-3" id="btn-filtrar-rango-fecha">Filtrar</button>
                    </div>
                </form>
                <form class="col-auto mx-3" method="get">
                    <div class="col-auto " style="padding-top: 11px">
                        <label >Filtrar por órdenes realizadas por: </label>

                    </div>
                    <div class="col-auto" style="padding-top: 8px">
                        <select name="listaCargos" id="" class="form-control">
                            <option value="1">Juan</option>
                            <option value="2">Pepe</option>
                            <option value="3">Sofía</option>
                            <option value="3">Ana</option>
                        </select>

                    </div>


                    <div class="col-auto" style="padding-top: 8px">

                        <button type="submit" class="btn btn-secondary mb-3" id="btn-filtrar-cargo">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- Seccion listado -->
        <div class="partTwo" style="background-color:white;padding: 20px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;margin-top: 60px">
            <div class="col col-sm-12 mt-4 table-responsive">

                <table id="mexample" class="table table-striped" style="width:100%">
                    <thead>
                    <tr class="table-primary">
                        <th>Número</th>
                        <th>Fecha de emisión</th>
                        <th>Fecha de entrega</th>
                        <th>Valor total</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="ordenes : ${listaOrdenesC}">
                        <td th:text="${ordenes.NOrdenCompra}"></td>
                        <td th:text="${ordenes.fechaOrdenCompra}"></td>
                        <td th:text="${ordenes.fechaentrega}"></td>
                        <td th:text="${ordenes.valorTotal}"></td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${totalPags > 1}">
                    <div class="row col-12">
                        <div class="col-auto">
                            Total Filas: [[${totalElementos}]]
                        </div>
                        <div class="col-auto">
					<span th:each="i: ${#numbers.sequence(0, (totalPags - 1))}" style="margin-right: 3px;">
						<a th:if="${pagActual != i}"
                           th:href="@{'/ordencompra/reporte/'+${tipoFiltro}+'/'  + ${i}+'?'+${campoRequestFiltro}+'='+${valorFiltro}}"> [[${i}]] </a>
						<span th:unless="${pagActual != i}"> [[${i}]] </span>
					</span>
                        </div>
                        <div class="col-sm-1">
                            <a th:if="${pagActual < totalPags - 1}"
                               th:href="@{'/ordencompra/reporte/'+${tipoFiltro}+'/'  + ${pagActual + 1}+'?'+${campoRequestFiltro}+'='+${valorFiltro}}">Siguiente</a>
                            <span th:unless="${pagActual < totalPags}">Siguiente</span>
                        </div>

                        <div class="col-sm-1">
                            <a th:if="${pagActual < totalPags - 1}"
                               th:href="@{'/ordencompra/reporte/'+${tipoFiltro}+'/' + ${totalPags - 1}+'?'+${campoRequestFiltro}+'='+${valorFiltro}}">Último</a>
                            <span th:unless="${pagActual < totalPags}">Último</span>
                        </div>
                    </div>
                </div>
                <div class="" style="text-align: end;">
                    <a class="btn btn-info"  th:if="${listaOrdenesC.size()>0}"
                       >Generar Reporte</a>

                </div>
            </div>
        </div>
    </section>

</div>
<!--    <div th:replace="componentes/footer :: footer_html"></div>-->


<!-- Scripts -->
<div th:replace="componentes/script :: scripts_html"></div>
<script src="/customjs/main.js"></script>
</body>
</html>