<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title> Reporte Inventario</title>
<head th:replace="componentes/style :: head_html"></head>
<link rel="stylesheet" href="/customcss/index.css">
<body>


<nav th:replace="componentes/header :: Nav"></nav>

<div class="container__all">


    <div th:replace="componentes/menu :: menu_html"></div>


    <section class="container__section">

        <!-- <div class="col-2 vh-auto" style="background-color:  #E0FFFF;">
            <div th:replace="componentes/menu :: menu_html"></div>
        </div> -->

        <div class="page-title">
            <div class="title_center text-center">
                <h3>Reporte</h3>
            </div>

        </div>

        <div class="row">
            <form th:action="@{reporte/inventario/filtrar}" method="get">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="billing-first-name" class="form-label">Fecha Inicio</label>
                        <input class="form-control" name="fecha1" type="text" placeholder="Ingresar Empleado" id="billing-first-name">
                    </div>
                </div>

            </form>
            <form th:action="@{reporte/inventario/filtrar}" method="get">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="billing-last-name" class="form-label">Fecha Final</label>
                        <input class="form-control" name="fecha2" type="text" placeholder="Orden compra" id="billing-last-name">
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="products-datatable_length">
                    <label class="form-label">
                        Mostrar
                        <select class="form-select form-select-sm ms-1 me-1">
                            <option value="10">10</option>
                            <option value="all">15</option>
                        </select>
                        entradas
                    </label>
                </div>
            </div>


        </div>


        <div  style="background-color:  #F8F8FF;">
            <div class="mt-5 p-5 d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-dark btn-generaFichaDevol btn-roud" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Generar Reporte Inventario
                </button>

                <button type="button" class="btn btn-dark btn-generaFichaDevol btn-roud" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Limpiar
                </button>

            </div>

            <div class="col col-sm-12 mt-4 table-responsive">
                <table  class="table table-striped mb-2" style="width: 100%; font-size: 10px">
                    <thead class="table-dark">
                    <tr class="table-primary">
                        <th>NRO_INVEN</th>
                        <th>PRODUCTO</th>
                        <th>TIPO_INVEN</th>
                        <th>ALMACEN</th>
                        <th>EMPLEADO</th>
                        <th>CANT_INVEN</th>
                        <th>DESC_INVEN</th>
                        <th>ESTADO</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row : ${lsReporteInventario}" class="align-middle shadow-lg p-3 mb-5 bg-body rounded"
                        style="font-size: 10px">
                        <td th:text="${row.id}"></td>
                        <td th:text="${row.ordenCompra}"></td>
                        <td th:text="${row.tipoInventario}"></td>
                        <td th:text="${row.almacen}"></td>
                        <td th:text="${row.idEmpleado}"></td>
                        <td th:text="${row.cantidad}"></td>
                        <td th:text="${row.descripcion}"></td>
                        <td th:text="${row.estado}"></td>

                        <td class="px-0 text-center">
                            <button type="button" class="btn btn-outline-dark btn-editar  text-center px-2 py-0"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-edit"></i></button>
                        </td>
                        <td class="px-0 text-center">
                            <button type="button" class="btn btn-outline-success btn-verDetalle text-center px-2 py-0"
                                    data-bs-toggle="modal" data-bs-target="#modalVerDetalleDevolucion">
                                <i class="fas fa-binoculars"></i></button>
                        </td>
                        <td class="px-0 text-center">
                            <button type="button"
                                    class="btn btn-outline-danger btn-eliminar-Devolucion text-center px-2 py-0"
                                    data-bs-toggle="modal" data-bs-target="#modalElimimar">
                                <i class="fas fa-backspace"></i></button>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <!-- Footer -->
        <!--<div th:replace="componentes/footer :: footer_html"></div>-->


        <!-- Scripts -->
        <div th:replace="componentes/script :: scripts_html"></div>
    </section>

</div>
</body>

</html>